Repository angular-esx/ngxjs: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix --exclude packages/infrastructure/types/**, stylelint --syntax scss

.lintstagedrc.json:

{
  "*.ts": "tslint --fix --exclude packages/infrastructure/types/**",
  "*.scss": "stylelint --syntax scss"
}

Updated NgxBrowserPlatformService
  packages/core/services/platform/browser-platform.service.ts
  packages/core/services/platform/index.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Init core/modules/overlay
  packages/core/index.ts
  packages/core/modules/index.ts
  packages/core/modules/overlay/connected-overlay.directive.ts
  packages/core/modules/overlay/index.ts
  packages/core/modules/overlay/models/index.ts
  packages/core/modules/overlay/models/overlay/connected-overlay-config.class.ts
  packages/core/modules/overlay/models/overlay/index.ts
  packages/core/modules/overlay/models/overlay/overlay-config.class.ts
  packages/core/modules/overlay/models/overlay/overlay-ref.class.ts
  packages/core/modules/overlay/models/overlay/overlay.enum.ts
  packages/core/modules/overlay/models/positions/connected-position-strategy.class.ts
  packages/core/modules/overlay/models/positions/global-position-strategy.class.ts
  packages/core/modules/overlay/models/positions/index.ts
  packages/core/modules/overlay/models/positions/position-strategy.interface.ts
  packages/core/modules/overlay/models/positions/positions.type.ts
  packages/core/modules/overlay/models/scroll/block-scroll-strategy.class.ts
  packages/core/modules/overlay/models/scroll/close-scroll-strategy.class.ts
  packages/core/modules/overlay/models/scroll/index.ts
  packages/core/modules/overlay/models/scroll/noop-scroll-strategy.class.ts
  packages/core/modules/overlay/models/scroll/reposition-scroll-strategy.class.ts
  packages/core/modules/overlay/models/scroll/scroll-strategy.interface.ts
  packages/core/modules/overlay/models/scroll/scrollable-view.type.ts
  packages/core/modules/overlay/models/scroll/scrollable.interface.ts
  packages/core/modules/overlay/origin-overlay.directive.ts
  packages/core/modules/overlay/overlay.module.ts
  packages/core/modules/overlay/scrollabe.directive.ts
  packages/core/modules/overlay/services/index.ts
  packages/core/modules/overlay/services/overlay.service.ts
  packages/core/modules/overlay/services/position-strategy.service.ts
  packages/core/modules/overlay/services/scroll-strategy.service.ts
  packages/core/modules/overlay/services/scroll.service.ts
  packages/core/modules/overlay/services/viewport.service.ts
  packages/core/modules/overlay/styles/_dependencies.scss
  packages/core/modules/overlay/styles/_overlay.scss
  packages/core/modules/overlay/styles/_theme.scss
  packages/core/modules/overlay/styles/index.scss
Due: tslint --fix --exclude packages/infrastructure/types/**, stylelint --syntax scss

Updated NgxPositionStrategyService for Overlay
  packages/core/modules/overlay/services/position-strategy.service.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Created temporarily NgxMenuComponent & OverlayPage to test overlay
  packages/application/pages/overlay/index.ts
  packages/application/pages/overlay/overlay.module.ts
  packages/application/pages/overlay/overlay.page.ts
  packages/application/pages/overlay/route/index.ts
  packages/application/pages/overlay/route/overlay-route.module.ts
  packages/application/pages/overlay/styles/_dependencies.scss
  packages/application/pages/overlay/styles/_overlay.scss
  packages/application/pages/overlay/styles/index.scss
  packages/application/pages/overlay/templates/overlay.html
  packages/core/modules/menu/index.ts
  packages/core/modules/menu/menu-item.directive.ts
  packages/core/modules/menu/menu-trigger.directive.ts
  packages/core/modules/menu/menu.component.ts
  packages/core/modules/menu/menu.module.ts
  packages/core/modules/menu/models/index.ts
  packages/core/modules/menu/models/menu-positions.type.ts
  packages/core/modules/menu/styles/_dependencies.scss
  packages/core/modules/menu/styles/_menu.scss
  packages/core/modules/menu/styles/_mixins.scss
  packages/core/modules/menu/styles/_theme.scss
  packages/core/modules/menu/styles/_variables.scss
  packages/core/modules/menu/styles/index.scss
  packages/core/modules/menu/templates/menu.html
Due: tslint --fix --exclude packages/infrastructure/types/**, stylelint --syntax scss

Upgrade ts-loader to 2.2.2, ts-node to 3.2.0 for typescript 2.4.0
  package.json
  yarn.lock
Due: none

Added package-lock.json to .gitignore
  .gitignore
  package-lock.json
Due: none

Toolbar Module
  packages/core/index.ts
  packages/core/modules/index.ts
  packages/core/modules/toolbar/index.ts
  packages/core/modules/toolbar/styles/_dependencies.scss
  packages/core/modules/toolbar/styles/_theme.scss
  packages/core/modules/toolbar/styles/_toolbar.scss
  packages/core/modules/toolbar/styles/index.scss
  packages/core/modules/toolbar/toolbar.component.ts
  packages/core/modules/toolbar/toolbar.module.ts
  packages/core/styles/themes/built-in/blue/_blue.scss
Due: tslint --fix --exclude packages/infrastructure/types/**, stylelint --syntax scss

Toolbar example
  packages/application/pages/index.ts
  packages/application/pages/toolbar/index.ts
  packages/application/pages/toolbar/route/index.ts
  packages/application/pages/toolbar/route/toolbar-route.module.ts
  packages/application/pages/toolbar/styles/_dependencies.scss
  packages/application/pages/toolbar/styles/_toolbar.scss
  packages/application/pages/toolbar/styles/index.scss
  packages/application/pages/toolbar/templates/toolbar.html
  packages/application/pages/toolbar/toolbar.module.ts
  packages/application/pages/toolbar/toolbar.page.ts
  packages/application/startup/_app.module.ts
Due: tslint --fix --exclude packages/infrastructure/types/**, stylelint --syntax scss

Toolbar: apply blue theme
  packages/core/modules/toolbar/styles/_dependencies.scss
  packages/core/modules/toolbar/styles/_theme.scss
  packages/core/modules/toolbar/styles/_toolbar.scss
  packages/core/modules/toolbar/styles/index.scss
  packages/core/styles/themes/built-in/blue/_blue.scss
Due: stylelint --syntax scss

Toolbar: apply elevation
  packages/core/modules/toolbar/styles/_dependencies.scss
  packages/core/modules/toolbar/styles/_toolbar.scss
Due: stylelint --syntax scss

Init core/styles/utils/list
  packages/core/styles/utils/index.scss
  packages/core/styles/utils/list/_functions.scss
  packages/core/styles/utils/list/index.scss
Due: stylelint --syntax scss

Updated core/styles/breakpoints
  packages/core/styles/breakpoints/_functions.scss
  packages/core/styles/breakpoints/_variables.scss
Due: stylelint --syntax scss

Update core/styles/reset
  packages/core/styles/reset/_reset.scss
Due: stylelint --syntax scss

Update core/modules/side-nav
  packages/core/index.ts
  packages/core/modules/index.ts
  packages/core/modules/sidenav/index.ts
  packages/core/modules/sidenav/sidenav-container.component.ts
  packages/core/modules/sidenav/sidenav-item.component.ts
  packages/core/modules/sidenav/sidenav.component.ts
  packages/core/modules/sidenav/sidenav.module.ts
  packages/core/modules/sidenav/styles/_dependencies.scss
  packages/core/modules/sidenav/styles/_theme.scss
  packages/core/modules/sidenav/styles/_variables.scss
  packages/core/modules/sidenav/styles/sidenav-container/_sidenav-container.scss
  packages/core/modules/sidenav/styles/sidenav-container/index.scss
  packages/core/modules/sidenav/styles/sidenav-item/_sidenav-item.scss
  packages/core/modules/sidenav/styles/sidenav-item/index.scss
  packages/core/modules/sidenav/styles/sidenav/_sidenav.scss
  packages/core/styles/themes/built-in/blue/_blue.scss
  packages/core/styles/themes/built-in/blue/_dependencies.scss
  yarn.lock
Due: tslint --fix --exclude packages/infrastructure/types/**, stylelint --syntax scss

Updated SideNavPage
  packages/application/pages/sidenav/sidenav.page.ts
  packages/application/pages/sidenav/templates/sidenav.html
Due: tslint --fix --exclude packages/infrastructure/types/**

Updated typography
  packages/core/modules/typography/styles/_mixins.scss
  packages/core/modules/typography/styles/_theme.scss
  packages/core/styles/themes/built-in/blue/_blue.scss
Due: stylelint --syntax scss

Updated theme for sidenav
  packages/core/modules/sidenav/styles/_theme.scss
  packages/core/modules/sidenav/styles/sidenav-item/_sidenav-item.scss
  packages/core/styles/themes/built-in/blue/_blue.scss
Due: stylelint --syntax scss

Fixed bugs for core/styles/breakpoints/_variables.scss
  packages/core/modules/sidenav/styles/sidenav/_sidenav.scss
  packages/core/styles/breakpoints/_variables.scss
Due: stylelint --syntax scss

Init README.md for sidenav
  packages/core/modules/sidenav/README.md
Due: none

Created _environment.test.ts
  packages/infrastructure/environments/_environment.base.ts
  packages/infrastructure/environments/_environment.dev.ts
  packages/infrastructure/environments/_environment.test.ts
  packages/infrastructure/environments/environment.interface.ts
  packages/infrastructure/environments/index.ts
  packages/infrastructure/index.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Created _webpack.test.ts
  _configs/_webpack/_webpack.test.ts
  _configs/_webpack/index.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Created _tests/main.js
  _tests/main.js
Due: none

Created karma.conf.ts
  karma.conf.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Updated package.js & yarn.lock & .gitignore & README.md
  .gitignore
  README.md
  package.json
  tsconfig.json
  yarn.lock
Due: none

Updated yarn.lock
  yarn.lock
Due: none

Init _environment.aot.ts
  packages/infrastructure/environments/_environment.aot.ts
  packages/infrastructure/environments/_environment.base.ts
  packages/infrastructure/environments/environment.interface.ts
  packages/infrastructure/environments/index.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Updated package.json & tsconfig.json
  package.json
  tsconfig.json
  tslint.json
  yarn.lock
Due: none

Init _webpack.aot.ts
  _configs/_webpack/_webpack.aot.ts
  _configs/_webpack/_webpack.test.ts
  _configs/_webpack/index.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Correct core MenuModule for AOT
  packages/core/modules/menu/menu-trigger.directive.ts
  packages/core/modules/menu/menu.component.ts
  packages/core/modules/menu/templates/menu.html
Due: tslint --fix --exclude packages/infrastructure/types/**

Corrected core SidenavModule for AOT
  packages/core/modules/sidenav/sidenav-container.component.ts
  packages/core/modules/sidenav/templates/sidenav-container.html
Due: tslint --fix --exclude packages/infrastructure/types/**

Corrected core PortalModule for AOT
  packages/core/modules/portal/models/dom-portal-host.class.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Corrected core OverlayModule for AOT
  packages/core/modules/overlay/connected-overlay.directive.ts
  packages/core/modules/overlay/models/overlay/overlay-ref.class.ts
  packages/core/modules/overlay/models/scroll/close-scroll-strategy.spec.ts
  packages/core/modules/overlay/services/overlay.service.ts
  packages/core/modules/overlay/services/scroll.service.ts
  packages/core/modules/overlay/services/viewport.service.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Updated index declaration for ngx-core
  packages/core/index.ts
  packages/core/modules/index.ts
  packages/core/modules/ngx-ui.module.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Corrected DetailPage for AOT
  packages/application/pages/detail/detail.page.ts
  packages/application/pages/detail/templates/detail.html
Due: tslint --fix --exclude packages/infrastructure/types/**

Corrected ListPage for AOT
  packages/application/pages/list/list.page.ts
  packages/application/pages/list/modules/dense-list/dense-list.component.ts
  packages/application/pages/list/modules/dense-list/templates/dense-list.html
  packages/application/pages/list/modules/english-list/english-list.component.ts
  packages/application/pages/list/modules/english-list/templates/english-list.html
  packages/application/pages/list/modules/tall-list/tall-list.component.ts
  packages/application/pages/list/modules/tall-list/templates/tall-list.html
  packages/application/pages/list/templates/list.html
Due: tslint --fix --exclude packages/infrastructure/types/**

Corrected PortalPage for AOT
  packages/application/pages/portal/portal.page.ts
  packages/application/pages/portal/templates/portal.html
Due: tslint --fix --exclude packages/infrastructure/types/**

Corrected SidenavPage for AOT
  packages/application/pages/sidenav/sidenav.page.ts
  packages/application/pages/sidenav/templates/sidenav.html
Due: tslint --fix --exclude packages/infrastructure/types/**

Corrected TypographyPage for AOT
  packages/application/pages/typography/templates/typography.html
  packages/application/pages/typography/typography.page.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Corrected ViewPage for AOT
  packages/application/pages/view/templates/view.html
  packages/application/pages/view/view.page.ts
Due: tslint --fix --exclude packages/infrastructure/types/**
