Repository angular-esx/ngxjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --syntax scss

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.scss": "stylelint --syntax scss"
}

Updated styles & template for App
  packages/application/startup/app.module.js
  packages/application/startup/index.hbs
  packages/application/startup/styles/_app.scss
  packages/application/startup/styles/_declarations.scss
  packages/application/startup/styles/_mixins.scss
Due: eslint --fix, stylelint --syntax scss

Updated yarn.lock
  yarn.lock
Due: none

Init .gitattributes
  .gitattributes
Due: none

Set core.autocrlf=false
  .gitattributes
Due: none

Guide for setup core.autocrlf
  .gitattributes
  README.md
Due: none

Update breakpoints
  packages/core/styles/breakpoints/_variables.scss
Due: stylelint --syntax scss

Move ngx-media-breakpoint-up to mixin and update breakpoint numbers
  packages/core/styles/breakpoints/_functions.scss
  packages/core/styles/breakpoints/_mixins.scss
Due: stylelint --syntax scss

Update testing breakpoints
  packages/application/pages/breakpoint/styles/_breakpoint.scss
  packages/application/pages/breakpoint/templates/breakpoint.html
Due: stylelint --syntax scss

Fix test: replace 800 by 840
  packages/application/pages/breakpoint/templates/breakpoint.html
Due: none

Renamed _declarations.scss to _dependencies.scss
  packages/core/styles/reset/_dependencies.scss
  packages/core/styles/reset/index.scss
  packages/core/styles/utils/layout/_declarations.scss
  packages/core/styles/utils/layout/index.scss
  packages/core/styles/utils/number/_declarations.scss
  packages/core/styles/utils/number/index.scss
  packages/core/styles/utils/string/_declarations.scss
  packages/core/styles/utils/string/index.scss
  packages/core/styles/utils/url/_declarations.scss
  packages/core/styles/utils/url/index.scss
Due: stylelint --syntax scss

Added new functions to core/styles/utils/string
  packages/core/styles/utils/string/_functions.scss
Due: stylelint --syntax scss

Init core/styles/utils/map
  packages/core/styles/utils/index.scss
  packages/core/styles/utils/map/_functions.scss
  packages/core/styles/utils/map/index.scss
Due: stylelint --syntax scss

- Added $ngx-root-font-family-serif - Updated @function ngx-typo-leading - Added max-width: ngx-space(110) to body1, body2
  packages/core/styles/typography/_declarations.scss
  packages/core/styles/typography/_dependencies.scss
  packages/core/styles/typography/_mixins.scss
  packages/core/styles/typography/_typography.scss
  packages/core/styles/typography/_variables.scss
  packages/core/styles/typography/index.scss
Due: stylelint --syntax scss

Init core/modules/typography
  packages/core/index.js
  packages/core/modules/index.js
  packages/core/modules/typography/body1.directive.js
  packages/core/modules/typography/body2.directive.js
  packages/core/modules/typography/caption.directive.js
  packages/core/modules/typography/display1.directive.js
  packages/core/modules/typography/display2.directive.js
  packages/core/modules/typography/display3.directive.js
  packages/core/modules/typography/display4.directive.js
  packages/core/modules/typography/headline.directive.js
  packages/core/modules/typography/index.js
  packages/core/modules/typography/styles/_dependencies.scss
  packages/core/modules/typography/styles/_functions.scss
  packages/core/modules/typography/styles/_mixins.scss
  packages/core/modules/typography/styles/_typography.scss
  packages/core/modules/typography/styles/index.scss
  packages/core/modules/typography/subheading1.directive.js
  packages/core/modules/typography/subheading2.directive.js
  packages/core/modules/typography/title.directive.js
  packages/core/modules/typography/typography.module.js
Due: eslint --fix, stylelint --syntax scss

Updated startup, typography/list page
  packages/application/pages/list/modules/english-list/styles/_english-list.scss
  packages/application/pages/list/modules/tall-list/styles/_tall-list.scss
  packages/application/pages/list/styles/_list.scss
  packages/application/pages/typography/modules/dense-script/dense-script.component.js
  packages/application/pages/typography/modules/dense-script/dense-script.module.js
  packages/application/pages/typography/modules/dense-script/styles/_dense-script.scss
  packages/application/pages/typography/modules/dense-script/styles/_dependencies.scss
  packages/application/pages/typography/modules/dense-script/styles/index.scss
  packages/application/pages/typography/modules/dense-script/templates/dense-script.html
  packages/application/pages/typography/modules/english-script/english-script.component.js
  packages/application/pages/typography/modules/english-script/english-script.module.js
  packages/application/pages/typography/modules/english-script/styles/_dependencies.scss
  packages/application/pages/typography/modules/english-script/styles/index.scss
  packages/application/pages/typography/modules/english-script/templates/english-script.html
  packages/application/pages/typography/modules/tall-script/styles/_dependencies.scss
  packages/application/pages/typography/modules/tall-script/styles/_tall-script.scss
  packages/application/pages/typography/modules/tall-script/tall-script.component.js
  packages/application/pages/typography/modules/tall-script/tall-script.module.js
  packages/application/pages/typography/modules/tall-script/templates/tall-script.html
  packages/application/startup/index.hbs
  packages/application/startup/styles/_app.scss
  packages/application/startup/styles/_dependencies.scss
  packages/application/startup/styles/_mixins.scss
  packages/application/startup/styles/index.scss
Due: eslint --fix, stylelint --syntax scss

Simplified ngxTypographyDirective
  packages/core/index.js
  packages/core/modules/index.js
  packages/core/modules/typography/body1.directive.js
  packages/core/modules/typography/body2.directive.js
  packages/core/modules/typography/caption.directive.js
  packages/core/modules/typography/display1.directive.js
  packages/core/modules/typography/display2.directive.js
  packages/core/modules/typography/display3.directive.js
  packages/core/modules/typography/display4.directive.js
  packages/core/modules/typography/headline.directive.js
  packages/core/modules/typography/index.js
  packages/core/modules/typography/styles/_functions.scss
  packages/core/modules/typography/styles/_mixins.scss
  packages/core/modules/typography/subheading1.directive.js
  packages/core/modules/typography/subheading2.directive.js
  packages/core/modules/typography/title.directive.js
  packages/core/modules/typography/typography.directive.js
  packages/core/modules/typography/typography.module.js
Due: eslint --fix, stylelint --syntax scss

Updated TypographyPage
  packages/application/pages/typography/modules/dense-script/templates/dense-script.html
  packages/application/pages/typography/modules/english-script/templates/english-script.html
  packages/application/pages/typography/modules/tall-script/templates/tall-script.html
Due: none

Remove theming folder
  packages/core/styles/theming/_palette.scss
Due: stylelint --syntax scss

Build Theme
  packages/core/styles/theme/_functions.scss
  packages/core/styles/theme/_variables.scss
  packages/core/styles/theme/index.scss
Due: stylelint --syntax scss

Add test build theme
  packages/application/pages/index.js
  packages/application/pages/theme/index.js
  packages/application/pages/theme/route/index.js
  packages/application/pages/theme/route/theme-route.module.js
  packages/application/pages/theme/styles/_component.scss
  packages/application/pages/theme/styles/_theme.scss
  packages/application/pages/theme/styles/index.scss
  packages/application/pages/theme/templates/theme.html
  packages/application/pages/theme/theme.module.js
  packages/application/pages/theme/theme.page.js
  packages/application/startup/app.module.js
Due: eslint --fix, stylelint --syntax scss

Clean code & Restructure
  packages/application/pages/color/styles/_color.scss
  packages/application/pages/color/styles/_dependencies.scss
  packages/application/pages/color/styles/index.scss
  packages/core/styles/palettes/_functions.scss
  packages/core/styles/palettes/_variables.scss
Due: stylelint --syntax scss

Rename ngx-constrast to ngx-color-contrast
  packages/application/pages/theme/styles/_theme.scss
  packages/core/styles/theme/_functions.scss
  packages/core/styles/theme/_variables.scss
Due: stylelint --syntax scss

Add dependencies
  packages/application/pages/theme/styles/_dependencies.scss
  packages/application/pages/theme/styles/index.scss
Due: stylelint --syntax scss

Fix custom component theme
  packages/application/pages/theme/templates/theme.html
Due: none

Remove unused functions & mixins
  packages/application/pages/breakpoint/styles/_breakpoint.scss
  packages/application/pages/breakpoint/styles/_dependencies.scss
  packages/application/pages/breakpoint/styles/index.scss
  packages/core/styles/breakpoints/_functions.scss
  packages/core/styles/breakpoints/_mixins.scss
  packages/core/styles/breakpoints/_variables.scss
  packages/core/styles/breakpoints/index.scss
Due: stylelint --syntax scss

Breakpoints & Test breakpoints
  packages/application/pages/breakpoint/breakpoint.module.js
  packages/application/pages/breakpoint/breakpoint.page.js
  packages/application/pages/breakpoint/index.js
  packages/application/pages/breakpoint/route/breakpoint-route.module.js
  packages/application/pages/breakpoint/route/index.js
  packages/application/pages/breakpoint/styles/_breakpoint.scss
  packages/application/pages/breakpoint/styles/_dependencies.scss
  packages/application/pages/breakpoint/styles/index.scss
  packages/application/pages/breakpoint/templates/breakpoint.html
  packages/application/pages/index.js
  packages/application/startup/app.module.js
  packages/core/styles/breakpoints/_functions.scss
  packages/core/styles/breakpoints/_mixins.scss
  packages/core/styles/breakpoints/_variables.scss
  packages/core/styles/breakpoints/index.scss
Due: eslint --fix, stylelint --syntax scss

Fix typo map-get
  packages/core/styles/theming/_palette.scss
Due: stylelint --syntax scss

Clean code elevation
  packages/application/pages/elevation/styles/_dependencies.scss
  packages/application/pages/elevation/styles/index.scss
  packages/core/styles/elevation/_dependencies.scss
  packages/core/styles/elevation/_functions.scss
  packages/core/styles/elevation/_mixin.scss
  packages/core/styles/elevation/_variables.scss
  packages/core/styles/elevation/index.scss
Due: stylelint --syntax scss

Init infrastructure/utils
  packages/infrastructure/utils/index.js
  packages/infrastructure/utils/utils.js
Due: eslint --fix

Updated ngxTypography which supported bind a string as variant name to directive selector directly
  packages/application/pages/typography/modules/dense-script/templates/dense-script.html
  packages/application/pages/typography/modules/english-script/templates/english-script.html
  packages/application/pages/typography/modules/tall-script/templates/tall-script.html
  packages/core/modules/typography/typography.directive.js
Due: eslint --fix

Supported theme for NgxTypographyDirective
  packages/application/pages/typography/modules/dense-script/styles/_dependencies.scss
  packages/application/pages/typography/modules/tall-script/styles/_dependencies.scss
  packages/core/modules/typography/styles/_dependencies.scss
  packages/core/modules/typography/styles/_mixins.scss
  packages/core/modules/typography/styles/_theme.scss
  packages/core/modules/typography/styles/index.scss
Due: stylelint --syntax scss

Fixed convention
  packages/application/pages/typography/modules/dense-script/dense-script.module.js
  packages/application/pages/typography/modules/english-script/english-script.module.js
  packages/application/pages/typography/modules/tall-script/tall-script.module.js
  packages/application/startup/app.js
  packages/application/startup/app.module.js
  packages/application/startup/main.js
  packages/core/index.js
  packages/core/modules/index.js
  packages/core/modules/typography/index.js
  packages/core/modules/typography/typography.directive.js
  packages/core/modules/typography/typography.module.js
Due: eslint --fix

Fixed EOL
  packages/application/startup/app.js
  packages/application/startup/main.js
Due: eslint --fix

- Upgraded to angular version 4.0.1 - Updated webpack
  _configs/_webpack/_webpack.base.js
  _configs/_webpack/_webpack.dev.js
  _configs/_webpack/_webpack.dll.js
  package.json
  packages/application/package.json
  packages/core/package.json
  yarn.lock
Due: eslint --fix

Updated sassLoader to support theme
  _configs/_webpack/_webpack.base.js
  _configs/_webpack/_webpack.dev.js
  _configs/_webpack/_webpack.dll.js
  packages/application/themes/default/_default.scss
  packages/application/themes/default/_dependencies.scss
  packages/application/themes/default/index.scss
Due: eslint --fix, stylelint --syntax scss

Updated _reset.scss
  packages/core/styles/reset/_reset.scss
Due: stylelint --syntax scss

Updated palettes
  packages/application/pages/color/styles/_color.scss
  packages/core/styles/palettes/_functions.scss
  packages/core/styles/palettes/_variables.scss
Due: stylelint --syntax scss

Re-defined core/styles/themes
  packages/core/styles/theme/_functions.scss
  packages/core/styles/theme/_variables.scss
  packages/core/styles/theme/index.scss
  packages/core/styles/themes/_dependencies.scss
  packages/core/styles/themes/_functions.scss
  packages/core/styles/themes/_mixins.scss
  packages/core/styles/themes/_variables.scss
  packages/core/styles/themes/index.scss
  packages/core/styles/theming/_palette.scss
Due: stylelint --syntax scss

Init a built-in blue theme
  packages/core/styles/themes/built-in/blue/_blue.scss
  packages/core/styles/themes/built-in/blue/_dependencies.scss
  packages/core/styles/themes/built-in/blue/index.scss
Due: stylelint --syntax scss

Updated ThemePage
  packages/application/pages/theme/modules/background/background.component.js
  packages/application/pages/theme/modules/background/background.module.js
  packages/application/pages/theme/modules/background/index.js
  packages/application/pages/theme/modules/background/styles/_background.scss
  packages/application/pages/theme/modules/background/styles/_dependencies.scss
  packages/application/pages/theme/modules/background/styles/_mixins.scss
  packages/application/pages/theme/modules/background/styles/_theme.scss
  packages/application/pages/theme/modules/background/styles/index.scss
  packages/application/pages/theme/modules/background/templates/background.html
  packages/application/pages/theme/modules/index.js
  packages/application/pages/theme/styles/_component.scss
  packages/application/pages/theme/styles/_dependencies.scss
  packages/application/pages/theme/styles/_theme-page.scss
  packages/application/pages/theme/styles/_theme.scss
  packages/application/pages/theme/styles/index.scss
  packages/application/pages/theme/templates/theme.html
  packages/application/pages/theme/theme.module.js
  packages/application/startup/app.module.js
  packages/application/startup/main.js
  packages/application/themes/default/_default.scss
  packages/application/themes/default/_dependencies.scss
Due: eslint --fix, stylelint --syntax scss
