Repository angular-esx/ngxjs: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix --exclude packages/infrastructure/types/**, stylelint --syntax scss

.lintstagedrc.json:

{
  "*.ts": "tslint --fix --exclude packages/infrastructure/types/**",
  "*.scss": "stylelint --syntax scss"
}

Add package-lock
  package-lock.json
Due: none

Add NgxjsModule
  packages/core/modules/ngxjs.module.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Renderer
  packages/core/index.ts
  packages/core/modules/index.ts
  packages/core/modules/ngxjs.module.ts
  packages/core/modules/renderer/index.ts
  packages/core/modules/renderer/renderer.module.ts
  packages/core/modules/renderer/renderer.service.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

- Use NgxRenderer to generate class - Remove Component in class name
  packages/application/pages/grid/styles/_grid.scss
  packages/core/modules/grid/grid-column.component.ts
  packages/core/modules/grid/grid-row.component.ts
  packages/core/modules/grid/grid.component.ts
  packages/core/modules/grid/styles/_grid.scss
  packages/core/modules/grid/styles/_mixins.scss
Due: tslint --fix --exclude packages/infrastructure/types/**, stylelint --syntax scss

Add spaces
  packages/core/modules/grid/grid-column.component.ts
  packages/core/modules/grid/grid-row.component.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

replace some let variables by const variables & add spaces
  packages/core/modules/renderer/renderer.service.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Import RendererModule to GridModule
  packages/core/modules/grid/grid.module.ts
  packages/core/modules/renderer/renderer.service.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Updated NgxTypographyModule
  packages/application/pages/portal/portal.page.ts
  packages/application/pages/portal/templates/portal.html
  packages/application/pages/typography/modules/dense-script/templates/dense-script.html
  packages/application/pages/typography/modules/english-script/templates/english-script.html
  packages/application/pages/typography/modules/tall-script/templates/tall-script.html
  packages/core/modules/typography/styles/_functions.scss
  packages/core/modules/typography/styles/_mixins.scss
  packages/core/modules/typography/typography.directive.ts
Due: tslint --fix --exclude packages/infrastructure/types/**, stylelint --syntax scss

Merged origin develop.ts
  README.md
  package-lock.json
  packages/core/modules/ngxjs.module.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Prototype Card
  packages/application/pages/card/card.module.ts
  packages/application/pages/card/card.page.ts
  packages/application/pages/card/index.ts
  packages/application/pages/card/route/card-route.module.ts
  packages/application/pages/card/route/index.ts
  packages/application/pages/card/styles/_card.scss
  packages/application/pages/card/styles/index.scss
  packages/application/pages/card/templates/card.html
  packages/application/pages/index.ts
  packages/application/startup/_app.module.ts
  packages/core/index.ts
  packages/core/modules/card/card.component.ts
  packages/core/modules/card/card.module.ts
  packages/core/modules/card/index.ts
  packages/core/modules/card/styles/_card.scss
  packages/core/modules/card/styles/_dependencies.scss
  packages/core/modules/card/styles/_theme.scss
  packages/core/modules/card/styles/_variables.scss
  packages/core/modules/card/styles/index.scss
  packages/core/modules/card/templates/card.html
  packages/core/modules/index.ts
  packages/core/modules/ngxjs.module.ts
  packages/core/styles/themes/built-in/blue/_blue.scss
Due: tslint --fix --exclude packages/infrastructure/types/**, stylelint --syntax scss

Updated core/styles/themes & core/styles/typography
  packages/core/styles/themes/built-in/blue/_blue.scss
  packages/core/styles/typography/_mixins.scss
Due: stylelint --syntax scss

Renamed NgxjsModule to NgxUIModule
  packages/core/index.ts
  packages/core/modules/index.ts
  packages/core/modules/ngx-ui.module.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Corrected NgxRendererService
  packages/application/startup/_app.module.ts
  packages/core/index.ts
  packages/core/modules/grid/grid-column.component.ts
  packages/core/modules/grid/grid-row.component.ts
  packages/core/modules/grid/grid.module.ts
  packages/core/modules/index.ts
  packages/core/modules/renderer/renderer.module.ts
  packages/core/modules/renderer/renderer.service.ts
  packages/core/services/index.ts
  packages/core/services/ngx.service.ts
  packages/core/services/renderer/index.ts
  packages/core/services/renderer/renderer.service.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Sidenav prototype
  packages/application/pages/index.ts
  packages/application/pages/sidenav/index.ts
  packages/application/pages/sidenav/route/index.ts
  packages/application/pages/sidenav/route/sidenav-route.module.ts
  packages/application/pages/sidenav/sidenav.module.ts
  packages/application/pages/sidenav/sidenav.page.ts
  packages/application/pages/sidenav/styles/_sidenav.scss
  packages/application/pages/sidenav/styles/index.scss
  packages/application/pages/sidenav/templates/sidenav.html
  packages/application/startup/_app.module.ts
  packages/core/index.ts
  packages/core/modules/index.ts
  packages/core/modules/ngx-ui.module.ts
  packages/core/modules/sidenav/index.js
  packages/core/modules/sidenav/index.ts
  packages/core/modules/sidenav/sidenav.component.ts
  packages/core/modules/sidenav/sidenav.module.ts
  packages/core/modules/sidenav/styles/_dependencies.scss
  packages/core/modules/sidenav/styles/_sidenav.scss
  packages/core/modules/sidenav/styles/_theme.scss
  packages/core/modules/sidenav/styles/_variables.scss
  packages/core/modules/sidenav/styles/index.scss
  packages/core/modules/sidenav/templates/sidenav-container.html
  packages/core/modules/sidenav/templates/sidenav-content.html
  packages/core/modules/sidenav/templates/sidenav.html
  packages/core/styles/themes/built-in/blue/_blue.scss
Due: tslint --fix --exclude packages/infrastructure/types/**, stylelint --syntax scss

Renamed ngx.service.ts to nix.service.module.ts
  packages/core/services/index.ts
  packages/core/services/ngx.service.module.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Updated core/styles/breakpoints
  packages/core/styles/breakpoints/_mixins.scss
  packages/core/styles/breakpoints/_variables.scss
Due: stylelint --syntax scss

Renamed ngxRendererService to NgxRenderServer & Updated NgxRenderService.changeClass()
  packages/core/index.ts
  packages/core/modules/grid/grid-column.component.ts
  packages/core/modules/grid/grid-row.component.ts
  packages/core/services/index.ts
  packages/core/services/ngx.service.module.ts
  packages/core/services/render/index.ts
  packages/core/services/render/render.service.ts
  packages/core/services/renderer/index.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Updated NgxTypographyModule, change to style by using class instead of attribute
  packages/application/pages/detail/modules/dense-detail/styles/_dependencies.scss
  packages/application/pages/detail/modules/dense-detail/styles/index.scss
  packages/application/pages/detail/modules/english-detail/styles/_dependencies.scss
  packages/application/pages/detail/modules/english-detail/styles/index.scss
  packages/application/pages/detail/modules/tall-detail/styles/_dependencies.scss
  packages/application/pages/detail/modules/tall-detail/styles/index.scss
  packages/application/pages/detail/styles/_dependencies.scss
  packages/application/pages/detail/styles/index.scss
  packages/application/pages/list/modules/dense-list/styles/_dependencies.scss
  packages/application/pages/list/modules/dense-list/styles/index.scss
  packages/application/pages/list/modules/english-list/styles/_dependencies.scss
  packages/application/pages/list/modules/english-list/styles/index.scss
  packages/application/pages/list/modules/tall-list/styles/_dependencies.scss
  packages/application/pages/list/modules/tall-list/styles/index.scss
  packages/application/pages/list/styles/_dependencies.scss
  packages/application/pages/list/styles/index.scss
  packages/application/pages/typography/modules/dense-script/styles/_dependencies.scss
  packages/application/pages/typography/modules/tall-script/styles/_dependencies.scss
  packages/application/pages/typography/styles/_dependencies.scss
  packages/application/pages/typography/styles/index.scss
  packages/core/index.ts
  packages/core/modules/index.ts
  packages/core/modules/typography/index.ts
  packages/core/modules/typography/models/index.ts
  packages/core/modules/typography/models/typography-option.type.ts
  packages/core/modules/typography/styles/_functions.scss
  packages/core/modules/typography/styles/_mixins.scss
  packages/core/modules/typography/styles/_theme.scss
  packages/core/modules/typography/styles/index.scss
  packages/core/modules/typography/typography.directive.ts
  packages/core/styles/themes/built-in/blue/_blue.scss
Due: tslint --fix --exclude packages/infrastructure/types/**, stylelint --syntax scss

Prototype sidenav
  packages/core/modules/sidenav/index.js
  packages/core/modules/sidenav/index.ts
  packages/core/modules/sidenav/sidenav-container.component.ts
  packages/core/modules/sidenav/sidenav-content.component.ts
  packages/core/modules/sidenav/sidenav.component.ts
  packages/core/modules/sidenav/sidenav.module.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Sidenav
  packages/application/pages/index.ts
  packages/application/pages/layout-card/index.ts
  packages/application/pages/layout-card/layout-card.module.ts
  packages/application/pages/layout-card/layout-card.page.ts
  packages/application/pages/layout-card/routes/index.ts
  packages/application/pages/layout-card/routes/sidenav-route.module.ts
  packages/application/pages/layout-card/styles/index.scss
  packages/application/pages/layout-card/templates/layout-card.html
  packages/application/pages/sidenav/styles/_dependencies.scss
  packages/application/pages/sidenav/styles/_sidenav.scss
  packages/application/pages/sidenav/styles/_theme.scss
  packages/application/pages/sidenav/styles/_variables.scss
  packages/application/pages/sidenav/styles/index.scss
  packages/application/pages/sidenav/templates/sidenav.html
  packages/application/startup/_app.module.ts
  packages/core/modules/sidenav/sidenav-container.component.ts
  packages/core/modules/sidenav/sidenav-content.component.ts
  packages/core/modules/sidenav/sidenav.component.ts
  packages/core/modules/sidenav/templates/sidenav-container.html
  packages/core/modules/sidenav/templates/sidenav.html
Due: tslint --fix --exclude packages/infrastructure/types/**, stylelint --syntax scss

Replace side attribute by align attribute
  packages/application/pages/layout-card/templates/layout-card.html
  packages/core/modules/sidenav/sidenav-container.component.ts
  packages/core/modules/sidenav/sidenav.component.ts
  packages/core/modules/sidenav/styles/_sidenav.scss
  packages/core/modules/sidenav/templates/sidenav-container.html
Due: tslint --fix --exclude packages/infrastructure/types/**, stylelint --syntax scss

Sidenav Backdrop
  packages/core/modules/sidenav/sidenav-container.component.ts
  packages/core/modules/sidenav/sidenav.component.ts
  packages/core/modules/sidenav/sidenav.module.ts
  packages/core/modules/sidenav/styles/_sidenav.scss
  packages/core/modules/sidenav/styles/_variables.scss
  packages/core/modules/sidenav/templates/sidenav-backdrop.html
  packages/core/modules/sidenav/templates/sidenav-container.html
Due: tslint --fix --exclude packages/infrastructure/types/**, stylelint --syntax scss

Fixed jshint
  packages/core/modules/sidenav/sidenav-container.component.ts
  packages/core/modules/sidenav/sidenav.component.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Sivenav: change opened from Input to Attribute
  packages/application/pages/card/card.page.ts
  packages/application/pages/layout-card/layout-card.page.ts
  packages/application/pages/layout-card/templates/layout-card.html
  packages/application/pages/sidenav/styles/_dependencies.scss
  packages/application/pages/sidenav/styles/_sidenav.scss
  packages/application/pages/sidenav/styles/_theme.scss
  packages/application/pages/sidenav/styles/_variables.scss
  packages/application/pages/sidenav/styles/index.scss
  packages/application/pages/sidenav/templates/sidenav.html
  packages/core/modules/index.ts
  packages/core/modules/sidenav/sidenav-container.component.ts
  packages/core/modules/sidenav/sidenav.component.ts
Due: tslint --fix --exclude packages/infrastructure/types/**, stylelint --syntax scss

Fix tslint
  packages/application/pages/layout-card/layout-card.page.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Rename NgxRendererService to NgxRenderService
  packages/core/modules/sidenav/sidenav-content.component.ts
  packages/core/modules/sidenav/sidenav.component.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

fixed isObject in utils
  packages/infrastructure/utils/utils.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Fix tslint
  packages/application/pages/layout-card/layout-card.page.ts
  packages/application/pages/layout-card/templates/layout-card.html
  packages/core/modules/sidenav/sidenav-container.component.ts
  packages/core/modules/sidenav/sidenav-content.component.ts
  packages/core/modules/sidenav/sidenav.component.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Refactor syntax
  packages/application/pages/layout-card/templates/layout-card.html
  packages/core/modules/sidenav/sidenav-container.component.ts
  packages/core/modules/sidenav/sidenav.component.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Move empty template to inline template Rename _type to _currentType
  packages/core/modules/sidenav/sidenav-content.component.ts
  packages/core/modules/sidenav/sidenav.component.ts
  packages/core/modules/sidenav/templates/sidenav-backdrop.html
  packages/core/modules/sidenav/templates/sidenav-content.html
  packages/core/modules/sidenav/templates/sidenav.html
Due: tslint --fix --exclude packages/infrastructure/types/**

Improved NgxSidenavModule
  packages/core/index.ts
  packages/core/modules/index.ts
  packages/core/modules/sidenav/index.ts
  packages/core/modules/sidenav/sidenav-container.component.ts
  packages/core/modules/sidenav/sidenav-content.component.ts
  packages/core/modules/sidenav/sidenav.component.ts
  packages/core/modules/sidenav/sidenav.module.ts
  packages/core/modules/sidenav/styles/_dependencies.scss
  packages/core/modules/sidenav/styles/_sidenav.scss
  packages/core/modules/sidenav/styles/_variables.scss
  packages/core/modules/sidenav/styles/index.scss
  packages/core/modules/sidenav/styles/sidenav-container/_sidenav-container.scss
  packages/core/modules/sidenav/styles/sidenav-container/index.scss
  packages/core/modules/sidenav/styles/sidenav/_sidenav.scss
  packages/core/modules/sidenav/styles/sidenav/index.scss
  packages/core/modules/sidenav/templates/sidenav-container.html
Due: tslint --fix --exclude packages/infrastructure/types/**, stylelint --syntax scss

Updated SidenavPage
  packages/application/pages/sidenav/sidenav.page.ts
  packages/application/pages/sidenav/templates/sidenav.html
Due: tslint --fix --exclude packages/infrastructure/types/**

Remove center <grid>
  packages/core/modules/grid/styles/_mixins.scss
Due: stylelint --syntax scss

Create NgxRenderer to wrapper Renderer2
  packages/core/modules/grid/grid-column.component.ts
  packages/core/modules/grid/grid-row.component.ts
  packages/core/modules/typography/typography.directive.ts
  packages/core/services/index.ts
  packages/core/services/render/index.ts
  packages/core/services/render/render.service.ts
  packages/core/services/render/renderer.class.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Fix tslint
  packages/core/services/render/render.service.ts
  packages/core/services/render/renderer.class.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Use NgxRederer
  packages/core/modules/sidenav/sidenav.component.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Improved NgxRenderer & NgxRenderService
  packages/core/index.ts
  packages/core/services/render/render.service.ts
  packages/core/services/render/renderer.class.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Merged develop.ts into overlay.ts
  .vscode/settings.json
  package.json
  packages/application/pages/index.ts
  packages/application/pages/portal/portal.page.ts
  packages/application/pages/portal/templates/portal.html
  packages/application/startup/_app.module.ts
  packages/core/index.ts
  packages/core/modules/container/container.component.ts
  packages/core/modules/index.ts
  packages/core/modules/ngx-ui.module.ts
  packages/core/modules/portal/models/base-portal-host.class.ts
  packages/core/modules/portal/models/base-portal.class.ts
  packages/core/modules/portal/models/component-portal.class.ts
  packages/core/modules/portal/models/dom-portal-host.class.ts
  packages/core/modules/portal/models/portal-host.class.ts
  packages/core/modules/portal/models/portal.interface.ts
  packages/core/modules/portal/models/template-portal.class.ts
  packages/core/modules/portal/portal-host.directive.ts
  packages/core/modules/portal/template-portal.directive.ts
  packages/core/modules/typography/index.ts
  packages/core/modules/typography/models/index.ts
  packages/core/modules/typography/models/typography-option.type.ts
  packages/core/modules/typography/styles/_mixins.scss
  packages/core/modules/typography/typography.directive.ts
  packages/core/modules/view/view.component.ts
  packages/core/services/index.ts
  packages/core/services/ngx.service.module.ts
  packages/core/styles/reset/_reset.scss
  packages/core/styles/states/_mixins.scss
  packages/core/styles/themes/built-in/blue/_blue.scss
  yarn.lock
Due: tslint --fix --exclude packages/infrastructure/types/**, stylelint --syntax scss

Fixed bug for NgxTypography
  packages/core/modules/typography/models/typography-config.class.ts
  packages/core/modules/typography/styles/_mixins.scss
Due: tslint --fix --exclude packages/infrastructure/types/**, stylelint --syntax scss

Added core/styles/z-indexes
  packages/core/styles/z-indexes/_functions.scss
  packages/core/styles/z-indexes/_variables.scss
  packages/core/styles/z-indexes/index.scss
Due: stylelint --syntax scss
