Repository angular-esx/ngxjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --syntax scss

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.scss": "stylelint --syntax scss"
}

Updated style for typography
  packages/core/modules/typography/styles/_theme.scss
  packages/core/styles/typography/_functions.scss
  packages/core/styles/typography/_mixins.scss
Due: stylelint --syntax scss

Support theme for ngxTypography
  packages/core/modules/typography/styles/_dependencies.scss
  packages/core/modules/typography/styles/_functions.scss
  packages/core/modules/typography/styles/_mixins.scss
  packages/core/modules/typography/styles/_typography.scss
  packages/core/modules/typography/styles/index.scss
  packages/core/styles/themes/built-in/blue/_blue.scss
Due: stylelint --syntax scss

Updated ListPage & TypographyPage
  packages/application/pages/list/styles/_declarations.scss
  packages/application/pages/list/styles/_functions.scss
  packages/application/pages/list/styles/_variables.scss
  packages/application/pages/typography/modules/dense-script/styles/_dense-script.scss
  packages/application/pages/typography/modules/tall-script/styles/_tall-script.scss
Due: stylelint --syntax scss

Iint core/modules/grid
  packages/core/index.js
  packages/core/modules/grid/grid-column.component.js
  packages/core/modules/grid/grid-row.component.js
  packages/core/modules/grid/grid.component.js
  packages/core/modules/grid/grid.module.js
  packages/core/modules/grid/index.js
  packages/core/modules/grid/styles/_dependencies.scss
  packages/core/modules/grid/styles/_grid.scss
  packages/core/modules/grid/styles/_mixins.scss
  packages/core/modules/grid/styles/_variables.scss
  packages/core/modules/grid/styles/index.scss
  packages/core/modules/index.js
Due: eslint --fix, stylelint --syntax scss

Init GridPage
  packages/application/pages/grid/grid.module.js
  packages/application/pages/grid/grid.page.js
  packages/application/pages/grid/index.js
  packages/application/pages/grid/route/grid-route.module.js
  packages/application/pages/grid/route/index.js
  packages/application/pages/grid/styles/_grid.scss
  packages/application/pages/grid/styles/index.scss
  packages/application/pages/grid/templates/grid.html
  packages/application/pages/index.js
  packages/application/startup/app.module.js
  packages/core/modules/grid/grid.module.js
Due: eslint --fix, stylelint --syntax scss

Updated GridComponent mixins, optimize media query generaton for gutter
  packages/core/modules/grid/styles/_mixins.scss
Due: stylelint --syntax scss

- Renamed ngx-grid-column to ngx-col - Renamed ngx-grid-row to ngx-row
  packages/application/pages/grid/templates/grid.html
  packages/core/modules/grid/grid-column.component.js
  packages/core/modules/grid/grid-row.component.js
  packages/core/modules/grid/grid.component.js
Due: eslint --fix

Updated @mixin ngx-media-breakpoint-up
  packages/core/modules/grid/styles/_mixins.scss
  packages/core/styles/breakpoints/_dependencies.scss
  packages/core/styles/breakpoints/_mixins.scss
  packages/core/styles/breakpoints/index.scss
Due: stylelint --syntax scss

Created toolbar prototype
  packages/core/index.js
  packages/core/modules/index.js
  packages/core/modules/toolbar/index.js
  packages/core/modules/toolbar/styles/_dependencies.scss
  packages/core/modules/toolbar/styles/_theme.scss
  packages/core/modules/toolbar/styles/_toolbar.scss
  packages/core/modules/toolbar/styles/index.scss
  packages/core/modules/toolbar/templates/toolbar.html
  packages/core/modules/toolbar/toolbar.component.js
  packages/core/modules/toolbar/toolbar.module.js
  packages/core/styles/themes/built-in/blue/_blue.scss
Due: eslint --fix, stylelint --syntax scss

Created side nav prototype
  packages/application/startup/styles/_app.scss
  packages/core/index.js
  packages/core/modules/index.js
  packages/core/modules/side-nav/index.js
  packages/core/modules/side-nav/side-nav.component.js
  packages/core/modules/side-nav/side-nav.module.js
  packages/core/modules/side-nav/styles/_dependencies.scss
  packages/core/modules/side-nav/styles/_side-nav.scss
  packages/core/modules/side-nav/styles/_theme.scss
  packages/core/modules/side-nav/styles/_variables.scss
  packages/core/modules/side-nav/styles/index.scss
  packages/core/modules/side-nav/templates/side-nav.html
  packages/core/styles/themes/built-in/blue/_blue.scss
Due: eslint --fix, stylelint --syntax scss

Created Tabs prototype
  packages/core/index.js
  packages/core/modules/index.js
  packages/core/modules/tabs/index.js
  packages/core/modules/tabs/styles/_dependencies.scss
  packages/core/modules/tabs/styles/_tabs.scss
  packages/core/modules/tabs/styles/_theme.scss
  packages/core/modules/tabs/styles/index.scss
  packages/core/modules/tabs/tabs.component.js
  packages/core/modules/tabs/tabs.module.js
  packages/core/modules/tabs/templates/tabs.html
  packages/core/styles/themes/built-in/blue/_blue.scss
Due: eslint --fix, stylelint --syntax scss

Created List prototype
  packages/core/index.js
  packages/core/modules/index.js
  packages/core/modules/list/index.js
  packages/core/modules/list/list.component.js
  packages/core/modules/list/list.module.js
  packages/core/modules/list/styles/_dependencies.scss
  packages/core/modules/list/styles/_list.scss
  packages/core/modules/list/styles/index.scss
  packages/core/modules/list/templates/list.html
Due: eslint --fix, stylelint --syntax scss

Created Card prototype
  packages/core/index.js
  packages/core/modules/card/card.component.js
  packages/core/modules/card/card.module.js
  packages/core/modules/card/index.js
  packages/core/modules/card/styles/_card.scss
  packages/core/modules/card/styles/_dependencies.scss
  packages/core/modules/card/styles/_theme.scss
  packages/core/modules/card/styles/_variables.scss
  packages/core/modules/card/styles/index.scss
  packages/core/modules/card/templates/card.html
  packages/core/modules/index.js
  packages/core/styles/themes/built-in/blue/_blue.scss
Due: eslint --fix, stylelint --syntax scss

export NgxjsModule
  packages/core/index.js
  packages/core/modules/index.js
  packages/core/modules/ngxjs.module.js
Due: eslint --fix

Test Card Layout
  packages/application/pages/layout-card/index.js
  packages/application/pages/layout-card/layout-card.component.js
  packages/application/pages/layout-card/layout-card.module.js
  packages/application/pages/layout-card/routes/index.js
  packages/application/pages/layout-card/routes/layout-card-route.module.js
  packages/application/pages/layout-card/styles/layout-card.component.scss
  packages/application/pages/layout-card/templates/layout-card.component.html
Due: eslint --fix, stylelint --syntax scss

Test Grid Layout
  packages/application/pages/layout-grid/index.js
  packages/application/pages/layout-grid/layout-grid.component.js
  packages/application/pages/layout-grid/layout-grid.module.js
  packages/application/pages/layout-grid/routes/index.js
  packages/application/pages/layout-grid/routes/layout-grid-route.module.js
  packages/application/pages/layout-grid/styles/layout-grid.component.scss
  packages/application/pages/layout-grid/templates/layout-grid.component.html
Due: eslint --fix, stylelint --syntax scss

Test List Layout
  packages/application/pages/layout-list/index.js
  packages/application/pages/layout-list/layout-list.component.js
  packages/application/pages/layout-list/layout-list.module.js
  packages/application/pages/layout-list/routes/index.js
  packages/application/pages/layout-list/routes/layout-list-route.module.js
  packages/application/pages/layout-list/styles/layout-list.component.scss
  packages/application/pages/layout-list/templates/layout-list.component.html
Due: eslint --fix, stylelint --syntax scss

Test Tabs Layout
  packages/application/pages/layout-tabs/index.js
  packages/application/pages/layout-tabs/layout-tabs.component.js
  packages/application/pages/layout-tabs/layout-tabs.module.js
  packages/application/pages/layout-tabs/routes/index.js
  packages/application/pages/layout-tabs/routes/layout-tabs-route.module.js
  packages/application/pages/layout-tabs/styles/layout-tabs.component.scss
  packages/application/pages/layout-tabs/templates/layout-tabs.component.html
Due: eslint --fix, stylelint --syntax scss

Add layouts tests to NgxAppModule
  packages/application/pages/index.js
  packages/application/startup/app.module.js
Due: eslint --fix

Sidenav
  packages/application/pages/layout-grid/layout-grid.component.js
  packages/application/pages/layout-grid/styles/layout-grid.component.scss
  packages/application/pages/layout-grid/templates/layout-grid.component.html
  packages/core/modules/side-nav/side-nav.component.js
  packages/core/modules/side-nav/styles/_side-nav.scss
  packages/core/modules/side-nav/templates/side-nav.html
  packages/core/modules/toolbar/styles/_toolbar.scss
Due: eslint --fix, stylelint --syntax scss

Card
  packages/application/pages/layout-card/layout-card.component.js
  packages/application/pages/layout-card/styles/layout-card.component.scss
  packages/application/pages/layout-card/templates/layout-card.component.html
Due: eslint --fix, stylelint --syntax scss

Tabs
  packages/application/pages/layout-tabs/layout-tabs.component.js
  packages/application/pages/layout-tabs/styles/layout-tabs.component.scss
  packages/application/pages/layout-tabs/templates/layout-tabs.component.html
Due: eslint --fix, stylelint --syntax scss

Side Nav
  packages/application/pages/layout-card/layout-card.component.js
  packages/application/pages/layout-card/styles/layout-card.component.scss
  packages/application/pages/layout-card/templates/layout-card.component.html
  packages/core/modules/index.js
  packages/core/modules/side-nav/index.js
  packages/core/modules/side-nav/side-nav-container.component.js
  packages/core/modules/side-nav/side-nav-content.component.js
  packages/core/modules/side-nav/side-nav.component.js
  packages/core/modules/side-nav/side-nav.module.js
  packages/core/modules/side-nav/styles/_side-nav.scss
  packages/core/modules/side-nav/styles/_variables.scss
  packages/core/modules/side-nav/templates/side-nav-container.html
  packages/core/modules/side-nav/templates/side-nav-content.html
  packages/core/modules/side-nav/templates/side-nav.html
  yarn.lock
Due: eslint --fix, stylelint --syntax scss

Separated NgxContainerComponent from NgxGridComponent
  packages/application/pages/container/container.module.js
  packages/application/pages/container/container.page.js
  packages/application/pages/container/index.js
  packages/application/pages/container/route/container-route.module.js
  packages/application/pages/container/route/index.js
  packages/application/pages/container/styles/_container.scss
  packages/application/pages/container/styles/_dependencies.scss
  packages/application/pages/container/styles/index.scss
  packages/application/pages/container/templates/container.html
  packages/application/pages/index.js
  packages/application/startup/app.module.js
  packages/core/index.js
  packages/core/modules/container/container.component.js
  packages/core/modules/container/container.module.js
  packages/core/modules/container/index.js
  packages/core/modules/container/styles/_container.scss
  packages/core/modules/container/styles/_dependencies.scss
  packages/core/modules/container/styles/_variables.scss
  packages/core/modules/container/styles/index.scss
  packages/core/modules/grid/styles/_grid.scss
  packages/core/modules/grid/styles/_mixins.scss
  packages/core/modules/index.js
  packages/core/modules/ngxjs.module.js
Due: eslint --fix, stylelint --syntax scss

Init NgxViewComponent
  packages/application/pages/index.js
  packages/application/pages/view/index.js
  packages/application/pages/view/route/index.js
  packages/application/pages/view/route/view-route.module.js
  packages/application/pages/view/styles/_dependencies.scss
  packages/application/pages/view/styles/_view.scss
  packages/application/pages/view/styles/index.scss
  packages/application/pages/view/templates/view.html
  packages/application/pages/view/view.module.js
  packages/application/pages/view/view.page.js
  packages/application/startup/app.module.js
  packages/core/index.js
  packages/core/modules/container/styles/_container.scss
  packages/core/modules/index.js
  packages/core/modules/ngxjs.module.js
  packages/core/modules/view/index.js
  packages/core/modules/view/styles/_dependencies.scss
  packages/core/modules/view/styles/_view.scss
  packages/core/modules/view/styles/index.scss
  packages/core/modules/view/view.component.js
  packages/core/modules/view/view.module.js
Due: eslint --fix, stylelint --syntax scss

Fixed style for NgxViewComponent
  packages/application/pages/view/styles/_view.scss
Due: stylelint --syntax scss

Rename modifier classes SideNavContent scrollable
  packages/core/modules/side-nav/styles/_side-nav.scss
Due: stylelint --syntax scss

Change mode to type attribute
  packages/application/pages/layout-card/templates/layout-card.component.html
  packages/core/modules/side-nav/side-nav-container.component.js
  packages/core/modules/side-nav/side-nav.component.js
Due: eslint --fix

Updated ListPage
  packages/application/pages/list/list.module.ts
  packages/application/pages/list/list.page.ts
Due: none

Init GridPage
  packages/application/pages/grid/grid.module.ts
  packages/application/pages/grid/grid.page.ts
  packages/application/pages/grid/index.ts
  packages/application/pages/grid/route/grid-route.module.ts
  packages/application/pages/grid/route/index.ts
  packages/application/pages/grid/styles/_grid.scss
  packages/application/pages/grid/styles/index.scss
  packages/application/pages/grid/templates/grid.html
  packages/application/pages/index.ts
  packages/application/startup/_app.module.ts
Due: stylelint --syntax scss

Init ThemePage
  packages/application/pages/index.ts
  packages/application/pages/theme/index.ts
  packages/application/pages/theme/modules/background/background.component.ts
  packages/application/pages/theme/modules/background/background.module.ts
  packages/application/pages/theme/modules/background/index.ts
  packages/application/pages/theme/modules/background/styles/_background.scss
  packages/application/pages/theme/modules/background/styles/_dependencies.scss
  packages/application/pages/theme/modules/background/styles/_mixins.scss
  packages/application/pages/theme/modules/background/styles/_theme.scss
  packages/application/pages/theme/modules/background/styles/index.scss
  packages/application/pages/theme/modules/background/templates/background.html
  packages/application/pages/theme/modules/index.ts
  packages/application/pages/theme/route/index.ts
  packages/application/pages/theme/route/theme-route.module.ts
  packages/application/pages/theme/styles/_dependencies.scss
  packages/application/pages/theme/styles/_theme-page.scss
  packages/application/pages/theme/styles/_theme.scss
  packages/application/pages/theme/styles/index.scss
  packages/application/pages/theme/templates/theme.html
  packages/application/pages/theme/theme.module.ts
  packages/application/pages/theme/theme.page.ts
  packages/application/startup/_app.module.ts
  packages/core/styles/themes/built-in/blue/_blue.scss
Due: stylelint --syntax scss

Init NgxContainerComponent & ContainerPage
  packages/application/pages/container/container.module.ts
  packages/application/pages/container/container.page.ts
  packages/application/pages/container/index.ts
  packages/application/pages/container/route/container-route.module.ts
  packages/application/pages/container/route/index.ts
  packages/application/pages/container/styles/_container.scss
  packages/application/pages/container/styles/_dependencies.scss
  packages/application/pages/container/styles/index.scss
  packages/application/pages/container/templates/container.html
  packages/application/pages/index.ts
  packages/application/startup/_app.module.ts
  packages/core/index.ts
  packages/core/modules/container/container.component.ts
  packages/core/modules/container/container.module.ts
  packages/core/modules/container/index.ts
  packages/core/modules/container/styles/_container.scss
  packages/core/modules/container/styles/_dependencies.scss
  packages/core/modules/container/styles/_variables.scss
  packages/core/modules/container/styles/index.scss
  packages/core/modules/index.ts
Due: stylelint --syntax scss

Init NgxViewComponent & ViewPage
  packages/application/pages/index.ts
  packages/application/pages/view/index.ts
  packages/application/pages/view/route/index.ts
  packages/application/pages/view/route/view-route.module.ts
  packages/application/pages/view/styles/_dependencies.scss
  packages/application/pages/view/styles/_view.scss
  packages/application/pages/view/styles/index.scss
  packages/application/pages/view/templates/view.html
  packages/application/pages/view/view.module.ts
  packages/application/pages/view/view.page.ts
  packages/application/startup/_app.module.ts
  packages/core/index.ts
  packages/core/modules/index.ts
  packages/core/modules/view/index.ts
  packages/core/modules/view/styles/_dependencies.scss
  packages/core/modules/view/styles/_view.scss
  packages/core/modules/view/styles/index.scss
  packages/core/modules/view/view.component.ts
  packages/core/modules/view/view.module.ts
Due: stylelint --syntax scss

Init core/styles/states
  packages/core/styles/states/_mixins.scss
  packages/core/styles/states/index.scss
Due: stylelint --syntax scss

Updated core/styles/reset
  packages/core/styles/reset/_dependencies.scss
  packages/core/styles/reset/_reset.scss
  packages/core/styles/themes/built-in/blue/_blue.scss
  packages/core/styles/typography/_variables.scss
Due: stylelint --syntax scss

Init DetailPage
  packages/application/pages/detail/detail.module.ts
  packages/application/pages/detail/detail.page.ts
  packages/application/pages/detail/index.ts
  packages/application/pages/detail/modules/dense-detail/dense-detail.component.ts
  packages/application/pages/detail/modules/dense-detail/dense-detail.module.ts
  packages/application/pages/detail/modules/dense-detail/index.ts
  packages/application/pages/detail/modules/dense-detail/styles/_declarations.scss
  packages/application/pages/detail/modules/dense-detail/styles/_dense-detail.scss
  packages/application/pages/detail/modules/dense-detail/styles/index.scss
  packages/application/pages/detail/modules/dense-detail/templates/dense-detail.html
  packages/application/pages/detail/modules/english-detail/english-detail.component.ts
  packages/application/pages/detail/modules/english-detail/english-detail.module.ts
  packages/application/pages/detail/modules/english-detail/index.ts
  packages/application/pages/detail/modules/english-detail/styles/_declarations.scss
  packages/application/pages/detail/modules/english-detail/styles/_english-detail.scss
  packages/application/pages/detail/modules/english-detail/styles/index.scss
  packages/application/pages/detail/modules/english-detail/templates/english-detail.html
  packages/application/pages/detail/modules/index.ts
  packages/application/pages/detail/modules/tall-detail/index.ts
  packages/application/pages/detail/modules/tall-detail/styles/_declarations.scss
  packages/application/pages/detail/modules/tall-detail/styles/_tall-detail.scss
  packages/application/pages/detail/modules/tall-detail/styles/index.scss
  packages/application/pages/detail/modules/tall-detail/tall-detail.component.ts
  packages/application/pages/detail/modules/tall-detail/tall-detail.module.ts
  packages/application/pages/detail/modules/tall-detail/templates/tall-detail.html
  packages/application/pages/detail/route/detail-route.module.ts
  packages/application/pages/detail/route/index.ts
  packages/application/pages/detail/styles/_declarations.scss
  packages/application/pages/detail/styles/_detail.scss
  packages/application/pages/detail/styles/index.scss
  packages/application/pages/detail/templates/detail.html
  packages/application/pages/index.ts
  packages/application/pages/list/list.page.ts
  packages/application/pages/list/styles/_list.scss
  packages/application/startup/_app.module.ts
Due: stylelint --syntax scss

Init NgxPortalModule & PortalPage
  packages/application/pages/index.ts
  packages/application/pages/portal/index.ts
  packages/application/pages/portal/portal.module.ts
  packages/application/pages/portal/portal.page.ts
  packages/application/pages/portal/route/index.ts
  packages/application/pages/portal/route/portal-route.module.ts
  packages/application/pages/portal/styles/_dependencies.scss
  packages/application/pages/portal/styles/_portal.scss
  packages/application/pages/portal/styles/index.scss
  packages/application/pages/portal/templates/portal.html
  packages/application/startup/_app.module.ts
  packages/core/index.ts
  packages/core/modules/index.ts
  packages/core/modules/portal/index.ts
  packages/core/modules/portal/models/base-portal-host.class.ts
  packages/core/modules/portal/models/base-portal.class.ts
  packages/core/modules/portal/models/component-portal.class.ts
  packages/core/modules/portal/models/dom-portal-host.class.ts
  packages/core/modules/portal/models/index.ts
  packages/core/modules/portal/models/portal-host.class.ts
  packages/core/modules/portal/models/portal.interface.ts
  packages/core/modules/portal/models/template-portal.class.ts
  packages/core/modules/portal/portal-host.directive.ts
  packages/core/modules/portal/portal.module.ts
  packages/core/modules/portal/template-portal.directive.ts
  packages/core/styles/reset/_reset.scss
Due: stylelint --syntax scss

Remove space at the end of line
  README.md
Due: none
