Repository angular-esx/ngxjs: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix --exclude packages/infrastructure/types/**, stylelint --syntax scss

.lintstagedrc.json:

{
  "*.ts": "tslint --fix --exclude packages/infrastructure/types/**",
  "*.scss": "stylelint --syntax scss"
}

Updated index declaration for ngx-application
  packages/application/pages/index.ts
  packages/application/startup/_app.module.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Updated README.md for AOT
  README.md
Due: none

Updated environment to support building universal & aot
  packages/infrastructure/environments/_environment.base.ts
  packages/infrastructure/environments/_environment.universal.browser.ts
  packages/infrastructure/environments/_environment.universal.server.ts
  packages/infrastructure/environments/environment.interface.ts
  packages/infrastructure/environments/index.ts
  packages/infrastructure/index.ts
  packages/infrastructure/package.json
Due: tslint --fix --exclude packages/infrastructure/types/**

Updated webpack to support building universal & aot
  _configs/_webpack/_webpack.aot.ts
  _configs/_webpack/_webpack.base.ts
  _configs/_webpack/_webpack.dev.ts
  _configs/_webpack/_webpack.test.ts
  _configs/_webpack/_webpack.universal.browser.ts
  _configs/_webpack/_webpack.universal.server.ts
  _configs/_webpack/index.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Updated core modules to support building universal
  packages/core/modules/menu/menu.module.ts
  packages/core/modules/overlay/models/overlay/overlay-ref.class.ts
  packages/core/modules/overlay/models/positions/connected-position-strategy.class.ts
  packages/core/modules/overlay/services/scroll.service.ts
  packages/core/package.json
  packages/core/services/platform/browser-platform.service.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Updated app module declaration for building universal & aot
  packages/application/index.ts
  packages/application/package.json
  packages/application/startup/_app.module.browser.ts
  packages/application/startup/_app.module.hmr.ts
  packages/application/startup/_app.module.ts
  packages/application/startup/_main.browser.ts
  packages/application/startup/_main.ts
  packages/application/startup/app.module.server.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Init ngx-server package for universal test
  packages/server/package.json
  packages/server/server.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Updated package.json & yarn.lock & REAME.md
  README.md
  _tests/main.js
  package.json
  yarn.lock
Due: none

Updated package.json & README.md
  README.md
  package.json
Due: none

Updated karma.conf.ts
  karma.conf.ts
  package.json
  yarn.lock
Due: tslint --fix --exclude packages/infrastructure/types/**

Updated PortalModule
  karma.conf.ts
  packages/core/modules/menu/menu-trigger.directive.ts
  packages/core/modules/portal/models/base-portal-host.class.ts
  packages/core/modules/portal/models/dom-portal-host.class.ts
  packages/core/modules/portal/models/portal-host.class.ts
  packages/core/modules/portal/models/portal.interface.ts
  packages/core/modules/portal/models/template-portal.class.ts
  packages/core/modules/portal/template-portal.directive.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Updated OverlayModule
  packages/core/index.ts
  packages/core/modules/index.ts
  packages/core/modules/overlay/connected-overlay.directive.ts
  packages/core/modules/overlay/index.ts
  packages/core/modules/overlay/models/container/fullscreen-overlay-container.class.ts
  packages/core/modules/overlay/models/container/index.ts
  packages/core/modules/overlay/models/container/overlay-container.class.ts
  packages/core/modules/overlay/models/container/overlay-container.interface.ts
  packages/core/modules/overlay/models/index.ts
  packages/core/modules/overlay/models/overlay/connected-overlay-config.class.ts
  packages/core/modules/overlay/models/overlay/index.ts
  packages/core/modules/overlay/models/overlay/overlay-config.class.ts
  packages/core/modules/overlay/models/overlay/overlay-ref.class.ts
  packages/core/modules/overlay/models/overlay/overlay.enum.ts
  packages/core/modules/overlay/models/positions/connected-position-strategy.class.ts
  packages/core/modules/overlay/models/positions/global-position-strategy.class.ts
  packages/core/modules/overlay/models/positions/position-strategy.interface.ts
  packages/core/modules/overlay/models/scroll/block-scroll-strategy.class.ts
  packages/core/modules/overlay/models/scroll/close-scroll-strategy.class.ts
  packages/core/modules/overlay/models/scroll/close-scroll-strategy.spec.ts
  packages/core/modules/overlay/models/scroll/noop-scroll-strategy.class.ts
  packages/core/modules/overlay/models/scroll/reposition-scroll-strategy.class.ts
  packages/core/modules/overlay/models/scroll/scroll-strategy.interface.ts
  packages/core/modules/overlay/overlay.module.ts
  packages/core/modules/overlay/scrollabe.directive.ts
  packages/core/modules/overlay/services/index.ts
  packages/core/modules/overlay/services/overlay-container.service.ts
  packages/core/modules/overlay/services/overlay.service.ts
  packages/core/modules/overlay/services/viewport.service.ts
  packages/core/modules/overlay/styles/_overlay.scss
Due: tslint --fix --exclude packages/infrastructure/types/**, stylelint --syntax scss

Unit test for OverlayModule
  packages/core/modules/overlay/connected-overlay.directive.spec.ts
  packages/core/modules/overlay/models/positions/connected-position-strategy.spec.ts
  packages/core/modules/overlay/models/positions/global-position-strategy.spec.ts
  packages/core/modules/overlay/models/scroll/block-scroll-strategy.spec.ts
  packages/core/modules/overlay/models/scroll/reposition-scroll-strategy.spec.ts
  packages/core/modules/overlay/services/overlay.service.spec.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Updated PortalModule
  packages/core/modules/overlay/connected-overlay.directive.spec.ts
  packages/core/modules/portal/models/base-portal.class.ts
  packages/core/modules/portal/models/portal-host.class.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Unit test for PortalModule
  packages/core/modules/portal/models/dom-portal-host.spec.ts
  packages/core/modules/portal/portal-host.directive.spec.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Created a module for NgxBrowserPlatformService
  packages/core/services/browser-platform/browser-platform-service.module.ts
  packages/core/services/browser-platform/browser-platform.service.ts
  packages/core/services/browser-platform/index.ts
  packages/core/services/platform/index.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Created a module for NgxRenderService
  packages/core/services/render/index.ts
  packages/core/services/render/render-service.module.ts
  packages/core/services/render/render.service.ts
  packages/core/services/render/renderer.class.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Imported NgxBrowserPlatformServiceModule & NgxRenderServiceModule for modules which depend on them
  packages/application/startup/_app.module.ts
  packages/core/index.ts
  packages/core/modules/grid/grid.module.ts
  packages/core/modules/ngx-ui.module.ts
  packages/core/modules/overlay/connected-overlay.directive.spec.ts
  packages/core/modules/overlay/models/positions/connected-position-strategy.spec.ts
  packages/core/modules/overlay/models/positions/global-position-strategy.spec.ts
  packages/core/modules/overlay/models/scroll/block-scroll-strategy.spec.ts
  packages/core/modules/overlay/models/scroll/close-scroll-strategy.spec.ts
  packages/core/modules/overlay/models/scroll/reposition-scroll-strategy.spec.ts
  packages/core/modules/overlay/overlay.module.ts
  packages/core/modules/overlay/services/overlay.service.spec.ts
  packages/core/modules/portal/portal-host.directive.spec.ts
  packages/core/modules/sidenav/sidenav.module.ts
  packages/core/modules/typography/typography.module.ts
  packages/core/services/index.ts
  packages/core/services/ngx-service.module.ts
  packages/core/services/ngx.service.module.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Ensured check parent service before create new instance for service
  packages/core/modules/overlay/overlay.module.ts
  packages/core/modules/overlay/services/index.ts
  packages/core/modules/overlay/services/overlay-container-service/index.ts
  packages/core/modules/overlay/services/overlay-container-service/overlay-container.service.ts
  packages/core/modules/overlay/services/overlay-service/index.ts
  packages/core/modules/overlay/services/overlay-service/overlay.service.ts
  packages/core/modules/overlay/services/position-strategy-service/index.ts
  packages/core/modules/overlay/services/position-strategy-service/position-strategy.service.ts
  packages/core/modules/overlay/services/scroll-service/index.ts
  packages/core/modules/overlay/services/scroll-service/scroll.service.ts
  packages/core/modules/overlay/services/scroll-strategy-service/index.ts
  packages/core/modules/overlay/services/scroll-strategy-service/scroll-strategy.service.ts
  packages/core/modules/overlay/services/viewport-service/index.ts
  packages/core/modules/overlay/services/viewport-service/viewport.service.ts
  packages/core/services/browser-platform/browser-platform-service.module.ts
  packages/core/services/browser-platform/browser-platform.service.ts
  packages/core/services/browser-platform/index.ts
  packages/core/services/render/index.ts
  packages/core/services/render/render-service.module.ts
  packages/core/services/render/render.service.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Renamed NgxConnectedOverlayPositionChangedType to NgxChangedConnectedOverlayPositionEventType
  packages/core/index.ts
  packages/core/modules/index.ts
  packages/core/modules/overlay/connected-overlay.directive.spec.ts
  packages/core/modules/overlay/connected-overlay.directive.ts
  packages/core/modules/overlay/index.ts
  packages/core/modules/overlay/models/container/overlay-container/overlay-container.class.ts
  packages/core/modules/overlay/models/index.ts
  packages/core/modules/overlay/models/overlay/connected-overlay-config.class.ts
  packages/core/modules/overlay/models/positions/connected-position-strategy/connected-position-strategy.class.ts
  packages/core/modules/overlay/models/positions/connected-position-strategy/connected-position-strategy.interface.ts
  packages/core/modules/overlay/models/positions/connected-position-strategy/connected-position-strategy.spec.ts
  packages/core/modules/overlay/models/positions/index.ts
  packages/core/modules/overlay/models/positions/positions.type.ts
  packages/core/modules/overlay/styles/_theme.scss
  packages/core/modules/portal/models/base-portal-host.class.ts
  packages/core/modules/portal/models/base-portal.class.ts
  packages/core/modules/portal/models/component-portal.class.ts
  packages/core/modules/portal/models/dom-portal-host.class.ts
  packages/core/modules/portal/models/portal-host.class.ts
  packages/core/modules/portal/models/template-portal.class.ts
  packages/core/modules/sidenav/sidenav-container.component.ts
Due: tslint --fix --exclude packages/infrastructure/types/**, stylelint --syntax scss

Updated core/styles/breakpoints
  packages/core/styles/breakpoints/_functions.scss
  packages/core/styles/breakpoints/_mixins.scss
  packages/core/styles/breakpoints/_variables.scss
Due: stylelint --syntax scss

Support @input fontWeight, color, backgroundColor for NgxTypographyModule
  packages/core/modules/typography/models/typography-config.class.ts
  packages/core/modules/typography/styles/_mixins.scss
  packages/core/modules/typography/styles/_variables.scss
  packages/core/modules/typography/typography.directive.ts
  packages/core/styles/themes/built-in/blue/_blue.scss
  packages/infrastructure/index.ts
  packages/infrastructure/utils/index.ts
  packages/infrastructure/utils/utils.ts
Due: tslint --fix --exclude packages/infrastructure/types/**, stylelint --syntax scss

NgxOverlayService.create() init INgxOverlayContainer, INgxGlobalPositionStrategy, INgxNoopScrollStrategy as default for NgxOverlayConfig
  packages/core/modules/menu/menu-trigger.directive.ts
  packages/core/modules/overlay/services/overlay-service/overlay.service.ts
  packages/core/modules/typography/models/typography-config.class.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Upgraded to angular 4.4.4 & webpack 3.6.0
  .gitignore
  .stylelintrc.json
  README.md
  karma.conf.ts
  lerna.json
  package.json
  packages/core/fonts/_declarations.scss
  packages/core/fonts/_fonts.scss
  packages/core/fonts/index.scss
  packages/core/modules/menu/menu-trigger.directive.ts
  packages/core/modules/menu/menu.component.ts
  packages/core/modules/typography/models/typography-config.class.ts
  packages/core/styles/utils/index.scss
  packages/core/styles/utils/url/_functions.scss
  packages/core/styles/utils/url/index.scss
  tsconfig.aot.json
  yarn.lock
Due: tslint --fix --exclude packages/infrastructure/types/**, stylelint --syntax scss

Corrected environments for not, universal
  _configs/environments/_environment.base.ts
  _configs/environments/_environment.dev.ts
  _configs/environments/_environment.test.ts
  _configs/environments/_environment.universal.browser.ts
  _configs/environments/_environment.universal.server.ts
  _configs/environments/index.ts
  packages/infrastructure/environments/_environment.aot.ts
  packages/infrastructure/environments/_environment.base.ts
  packages/infrastructure/environments/_environment.dev.ts
  packages/infrastructure/environments/_environment.test.ts
  packages/infrastructure/environments/environment.interface.ts
  packages/infrastructure/environments/index.ts
  packages/infrastructure/index.ts
  packages/infrastructure/types/common/index.d.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Updated AppModule declaration
  _configs/environments/_environment.universal.server.ts
  packages/application/pages/detail/detail.page.ts
  packages/application/pages/list/list.page.ts
  packages/application/pages/typography/typography.page.ts
  packages/application/startup/_app.module.hmr.ts
  packages/application/startup/_app.module.ts
  packages/application/startup/_app.ts
  packages/application/startup/_main.aot.ts
  packages/application/startup/_main.browser.ts
  packages/application/startup/_main.ts
Due: tslint --fix --exclude packages/infrastructure/types/**

Updated config for webpack && added config for lite-server
  _configs/_webpack/_webpack.aot.ts
  _configs/_webpack/index.dll.ts
  _configs/_webpack/index.ts
  _configs/lite-server/lite-server.js
  _configs/webpack/_webpack-options.type.ts
  _configs/webpack/_webpack.base.ts
  _configs/webpack/_webpack.dev.ts
  _configs/webpack/_webpack.dll.ts
  _configs/webpack/_webpack.test.ts
  _configs/webpack/_webpack.universal.browser.ts
  _configs/webpack/_webpack.universal.server.ts
  _configs/webpack/index.dll.ts
  _configs/webpack/index.ts
  _tests/main.js
  packages/server/server.ts
Due: tslint --fix --exclude packages/infrastructure/types/**
