Repository angular-esx/ngxjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --syntax scss

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.scss": "stylelint --syntax scss"
}

Init infrastructure package
  packages/infrastructure/environments/_environment.base.js
  packages/infrastructure/environments/_environment.dev.js
  packages/infrastructure/environments/index.js
  packages/infrastructure/index.js
  packages/infrastructure/package.json
Due: eslint --fix

Init core package
  packages/core/fonts/_declarations.scss
  packages/core/fonts/_fonts.scss
  packages/core/fonts/index.scss
  packages/core/fonts/roboto/cyrillic-ext.bold.woff2
  packages/core/fonts/roboto/cyrillic-ext.light.woff2
  packages/core/fonts/roboto/cyrillic-ext.medium.woff2
  packages/core/fonts/roboto/cyrillic-ext.regular.woff2
  packages/core/fonts/roboto/cyrillic.bold.woff2
  packages/core/fonts/roboto/cyrillic.light.woff2
  packages/core/fonts/roboto/cyrillic.medium.woff2
  packages/core/fonts/roboto/cyrillic.regular.woff2
  packages/core/fonts/roboto/greek-ext.bold.woff2
  packages/core/fonts/roboto/greek-ext.light.woff2
  packages/core/fonts/roboto/greek-ext.medium.woff2
  packages/core/fonts/roboto/greek-ext.regular.woff2
  packages/core/fonts/roboto/greek.bold.woff2
  packages/core/fonts/roboto/greek.light.woff2
  packages/core/fonts/roboto/greek.medium.woff2
  packages/core/fonts/roboto/greek.regular.woff2
  packages/core/fonts/roboto/latin-ext.bold.woff2
  packages/core/fonts/roboto/latin-ext.light.woff2
  packages/core/fonts/roboto/latin-ext.medium.woff2
  packages/core/fonts/roboto/latin-ext.regular.woff2
  packages/core/fonts/roboto/latin.bold.woff2
  packages/core/fonts/roboto/latin.light.woff2
  packages/core/fonts/roboto/latin.medium.woff2
  packages/core/fonts/roboto/latin.regular.woff2
  packages/core/fonts/roboto/vietnamese.bold.woff2
  packages/core/fonts/roboto/vietnamese.light.woff2
  packages/core/fonts/roboto/vietnamese.medium.woff2
  packages/core/fonts/roboto/vietnamese.regular.woff2
  packages/core/images/logo.png
  packages/core/package.json
  packages/core/styles/reset/_base.scss
  packages/core/styles/reset/_reset.scss
  packages/core/styles/reset/index.scss
  packages/core/styles/urls/_declarations.scss
  packages/core/styles/urls/_functions.scss
  packages/core/styles/urls/index.scss
Due: stylelint --syntax scss

Init application package
  packages/application/favicon.ico
  packages/application/package.json
  packages/application/pages/detail/detail.module.js
  packages/application/pages/detail/detail.page.js
  packages/application/pages/detail/index.js
  packages/application/pages/detail/route/detail-route.module.js
  packages/application/pages/detail/route/index.js
  packages/application/pages/detail/styles/_detail.scss
  packages/application/pages/detail/styles/index.scss
  packages/application/pages/detail/templates/detail.html
  packages/application/pages/index.js
  packages/application/pages/list/index.js
  packages/application/pages/list/list.module.js
  packages/application/pages/list/list.page.js
  packages/application/pages/list/route/index.js
  packages/application/pages/list/route/list-route.module.js
  packages/application/pages/list/styles/_list.scss
  packages/application/pages/list/styles/index.scss
  packages/application/pages/list/templates/list.html
  packages/application/startup/app.js
  packages/application/startup/app.module.js
  packages/application/startup/index.hbs
  packages/application/startup/main.js
  packages/application/startup/route/app-route.module.js
  packages/application/startup/route/index.js
  packages/application/startup/styles/_app.scss
  packages/application/startup/styles/_declarations.scss
  packages/application/startup/styles/index.scss
  packages/application/startup/templates/app.html
Due: eslint --fix, stylelint --syntax scss

Config webpack
  _configs/_webpack/_webpack.base.js
  _configs/_webpack/_webpack.dev.js
  _configs/_webpack/_webpack.dll.js
  _configs/_webpack/index.babel.js
  _configs/_webpack/index.dll.babel.js
Due: eslint --fix

Add trimTrailingWhitespace to vscode
  .vscode/settings.json
Due: none

Use static property in class
  packages/application/startup/app.module.js
Due: eslint --fix

Add yarn.lock
  yarn.lock
Due: none

Add .jsbeautifyrc
  .jsbeautifyrc
Due: none

Remove jsbeautifyrc
  .jsbeautifyrc
Due: none

Fix typo
  README.md
Due: none

Fixed start:dashboard command
  package.json
Due: none

Remove number-leading-zero in stylelint
  .stylelintrc.json
Due: none

Add _palette theming
  packages/core/styles/theming/_palette.scss
Due: stylelint --syntax scss

Corrected _getRelativePath() for windows environment
  _configs/_webpack/_webpack.base.js
Due: eslint --fix

Removed id from NgModule declarations to fixed a bug which re-register modules every webpack do hot updates
  packages/application/pages/detail/detail.module.js
  packages/application/pages/list/list.module.js
  packages/application/startup/app.module.js
Due: eslint --fix

_base: Convert tabs to spaces
  packages/core/styles/reset/_base.scss
Due: stylelint --syntax scss

Add palettes
  packages/core/styles/palettes/_functions.scss
  packages/core/styles/palettes/_variables.scss
  packages/core/styles/palettes/index.scss
Due: stylelint --syntax scss

Moved core/styles/urls to core/styles/utils/url
  packages/core/styles/utils/url/_declarations.scss
  packages/core/styles/utils/url/_functions.scss
  packages/core/styles/utils/url/index.scss
Due: stylelint --syntax scss

Init utils for string, layout
  packages/core/styles/utils/layout/_declarations.scss
  packages/core/styles/utils/layout/_mixins.scss
  packages/core/styles/utils/layout/index.scss
  packages/core/styles/utils/string/_declarations.scss
  packages/core/styles/utils/string/_functions.scss
  packages/core/styles/utils/string/index.scss
Due: stylelint --syntax scss

Init utils for number
  packages/core/styles/utils/index.scss
  packages/core/styles/utils/number/_declarations.scss
  packages/core/styles/utils/number/_functions.scss
  packages/core/styles/utils/number/_variables.scss
  packages/core/styles/utils/number/index.scss
Due: stylelint --syntax scss

Init core typography
  packages/core/fonts/_declarations.scss
  packages/core/styles/reset/_declarations.scss
  packages/core/styles/reset/_reset.scss
  packages/core/styles/reset/index.scss
  packages/core/styles/typography/_declarations.scss
  packages/core/styles/typography/_functions.scss
  packages/core/styles/typography/_mixins.scss
  packages/core/styles/typography/_typography.scss
  packages/core/styles/typography/_variables.scss
  packages/core/styles/typography/index.scss
Due: stylelint --syntax scss

Test typography
  packages/application/pages/list/styles/_list.scss
  packages/application/pages/list/templates/list.html
  packages/application/startup/styles/_app.scss
  packages/application/startup/styles/_declarations.scss
Due: stylelint --syntax scss

Replace babel-preset-latest by babel-preset-env
  .babelrc
  package.json
  yarn.lock
Due: none

Add getting contrast function
  packages/core/styles/palettes/_functions.scss
Due: stylelint --syntax scss

Add black and white palettes
  packages/core/styles/palettes/_variables.scss
Due: stylelint --syntax scss

Fix wrong colors in palettes
  packages/core/styles/palettes/_variables.scss
Due: stylelint --syntax scss

Add color module to test palettes
  packages/application/pages/color/color.module.js
  packages/application/pages/color/color.page.js
  packages/application/pages/color/index.js
  packages/application/pages/color/route/color-route.module.js
  packages/application/pages/color/route/index.js
  packages/application/pages/color/styles/_color.scss
  packages/application/pages/color/styles/index.scss
  packages/application/pages/color/templates/color.html
  packages/application/pages/index.js
  packages/application/startup/app.module.js
Due: eslint --fix, stylelint --syntax scss

Breakpoint Core
  packages/core/styles/breakpoints/_functions.scss
  packages/core/styles/breakpoints/_mixins.scss
  packages/core/styles/breakpoints/_variables.scss
  packages/core/styles/breakpoints/index.scss
Due: stylelint --syntax scss

Test Breakpoint Module
  packages/application/pages/breakpoint/breakpoint.module.js
  packages/application/pages/breakpoint/breakpoint.page.js
  packages/application/pages/breakpoint/index.js
  packages/application/pages/breakpoint/route/breakpoint-route.module.js
  packages/application/pages/breakpoint/route/index.js
  packages/application/pages/breakpoint/styles/_breakpoint.scss
  packages/application/pages/breakpoint/styles/index.scss
  packages/application/pages/breakpoint/templates/breakpoint.html
  packages/application/pages/index.js
  packages/application/startup/app.module.js
Due: eslint --fix, stylelint --syntax scss

Test Responsive Utilities
  packages/application/pages/breakpoint/styles/_breakpoint.scss
  packages/application/pages/breakpoint/templates/breakpoint.html
Due: stylelint --syntax scss

Animations
  packages/core/styles/animations/_variables.scss
  packages/core/styles/animations/index.scss
Due: stylelint --syntax scss

Elevation Core
  packages/core/styles/elevation/_functions.scss
  packages/core/styles/elevation/_mixin.scss
  packages/core/styles/elevation/_variables.scss
  packages/core/styles/elevation/index.scss
Due: stylelint --syntax scss

Test Elevation Module
  packages/application/pages/elevation/elevation.module.js
  packages/application/pages/elevation/elevation.page.js
  packages/application/pages/elevation/index.js
  packages/application/pages/elevation/route/elevation-route.module.js
  packages/application/pages/elevation/route/index.js
  packages/application/pages/elevation/styles/_elevation.scss
  packages/application/pages/elevation/styles/index.scss
  packages/application/pages/elevation/templates/elevation.html
  packages/application/pages/index.js
  packages/application/startup/app.module.js
Due: eslint --fix, stylelint --syntax scss

Add card active
  packages/application/pages/elevation/styles/_elevation.scss
  packages/application/pages/elevation/templates/elevation.html
Due: stylelint --syntax scss

Add margin bottom to card
  packages/application/pages/elevation/styles/_elevation.scss
Due: stylelint --syntax scss

Updated .eslintrc.json & Installed babel-plugin-angular2-annotations
  .babelrc
  .eslintrc.json
  package.json
Due: none

Updated core/styles/typography
  packages/core/styles/typography/_functions.scss
  packages/core/styles/typography/_line-heights.scss
  packages/core/styles/typography/_mixins.scss
  packages/core/styles/typography/_typography.scss
  packages/core/styles/typography/_variables.scss
  packages/core/styles/typography/index.scss
Due: stylelint --syntax scss

Init TypographyPage
  packages/application/pages/typography/index.js
  packages/application/pages/typography/modules/dense-script/dense-script.component.js
  packages/application/pages/typography/modules/dense-script/dense-script.module.js
  packages/application/pages/typography/modules/dense-script/index.js
  packages/application/pages/typography/modules/dense-script/styles/_dense-script.scss
  packages/application/pages/typography/modules/dense-script/styles/index.scss
  packages/application/pages/typography/modules/dense-script/templates/dense-script.html
  packages/application/pages/typography/modules/english-script/english-script.component.js
  packages/application/pages/typography/modules/english-script/english-script.module.js
  packages/application/pages/typography/modules/english-script/index.js
  packages/application/pages/typography/modules/english-script/templates/english-script.html
  packages/application/pages/typography/modules/index.js
  packages/application/pages/typography/modules/tall-script/index.js
  packages/application/pages/typography/modules/tall-script/styles/_tall-script.scss
  packages/application/pages/typography/modules/tall-script/styles/index.scss
  packages/application/pages/typography/modules/tall-script/tall-script.component.js
  packages/application/pages/typography/modules/tall-script/tall-script.module.js
  packages/application/pages/typography/modules/tall-script/templates/tall-script.html
  packages/application/pages/typography/route/index.js
  packages/application/pages/typography/route/typography-route.module.js
  packages/application/pages/typography/styles/_declarations.scss
  packages/application/pages/typography/styles/_typography.scss
  packages/application/pages/typography/styles/index.scss
  packages/application/pages/typography/templates/typography.html
  packages/application/pages/typography/typography.module.js
  packages/application/pages/typography/typography.page.js
Due: eslint --fix, stylelint --syntax scss

Init ListPage
  packages/application/pages/index.js
  packages/application/pages/list/list.module.js
  packages/application/pages/list/list.page.js
  packages/application/pages/list/modules/dense-list/dense-list.component.js
  packages/application/pages/list/modules/dense-list/dense-list.module.js
  packages/application/pages/list/modules/dense-list/index.js
  packages/application/pages/list/modules/dense-list/styles/_declarations.scss
  packages/application/pages/list/modules/dense-list/styles/_dense-list.scss
  packages/application/pages/list/modules/dense-list/styles/index.scss
  packages/application/pages/list/modules/dense-list/templates/dense-list.html
  packages/application/pages/list/modules/english-list/english-list.component.js
  packages/application/pages/list/modules/english-list/english-list.module.js
  packages/application/pages/list/modules/english-list/index.js
  packages/application/pages/list/modules/english-list/styles/_declarations.scss
  packages/application/pages/list/modules/english-list/styles/_english-list.scss
  packages/application/pages/list/modules/english-list/styles/index.scss
  packages/application/pages/list/modules/english-list/templates/english-list.html
  packages/application/pages/list/modules/index.js
  packages/application/pages/list/modules/tall-list/index.js
  packages/application/pages/list/modules/tall-list/styles/_declarations.scss
  packages/application/pages/list/modules/tall-list/styles/_tall-list.scss
  packages/application/pages/list/modules/tall-list/styles/index.scss
  packages/application/pages/list/modules/tall-list/tall-list.component.js
  packages/application/pages/list/modules/tall-list/tall-list.module.js
  packages/application/pages/list/modules/tall-list/templates/tall-list.html
  packages/application/pages/list/styles/_declarations.scss
  packages/application/pages/list/styles/_functions.scss
  packages/application/pages/list/styles/_list.scss
  packages/application/pages/list/styles/_variables.scss
  packages/application/pages/list/templates/list.html
Due: eslint --fix, stylelint --syntax scss
